.bg--black {
  text-align: center;
  background-color: $black;
  width: 101%;
  height: 196px;
  margin-left: -8px;
  font-weight: 600;
  font-size: 36px;
  line-height: 169px;
  color: $gray;
}

.subtitle--line {
  text-align: center;
  border-bottom: 1px solid $black;
  font-weight: 600;
  font-size: 36px;
  line-height: 60px;
}

.cont--img {
  margin: 0% 2%;
  width: 802px;
  height: 608.67px;
}

.subtitle--center {
  margin-top: 52px;
  margin-bottom: 53px;
  text-align: center;
  font-size: 48px;
}

.subtitle--cont {
  font-size: 46px;
  text-align: center;
}

.text--price{
  margin-bottom: 21%;
  margin-top: 22%;
  font-weight: 700;
  font-size: 48px;
  line-height: 7px;
  text-align: center;
}

.cont--flex{
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  margin: 0% 0% 21% 0%;
}

.desc--line{
  border-top: 1px solid $black;
}
.subtitle--desc{
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  text-align: left;
  margin-left: 6%;
}

.text--desc{
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-left: 6%;
  width: 79%;
  margin-top: -1%;
}

.container--list--flex {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.list--styles--1 {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-left: 6%;
  width: 36%; 
}

.list--styles--1 li {
  margin: 0 0 2rem 0;
}

.list--styles--2{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 42%;
}

.list--styles--2 li {
  margin: 0 0 2rem 0;
}


// reponsive para movil
// @media(min-width: 320px) and (max-width: 767px) {
//   header {
//     display: flex;
//     justify-content: space-around;
//   }
//   input {
//     width: 80%;
//   }
//   ul {
//     flex-wrap: wrap;
//     flex-direction: column;
//   }
//   h2 {
//     font-size: 22px;
//   }
//   h3 {
//     font-size: 18px;
//   }
//   .title {
//     font-size: 20px;
//   }
//   .align_block-search {
//     margin-right: 0;
//   }
//   .bg--black {
//     font-size: 22px;
//   }
//   .subtitle--line {
//     font-size: 18px;
//   }
//   .cont--img {
//     width: 100%;
//   }
//   img {
//     width: 100%;
//   }
//   .subtitle--cont {
//     font-size: 16px;
//   }
//   .text--price {
//     font-size: 14px;
//   }
//   .list--features {
//     font-size: 11px;
//   }
//   .subtitle {
//     font-size: 12px;
//   }
//   .subtitle--desc {
//     font-size: 18px;
//   }
//   .text--desc {
//     font-size: 14px;
//   }
//   .subtitle--center {
//     font-size: 18px;
//   }
//   footer {
//     flex-direction: column;
//   }
//   img {
//     width: 30px;
//   }
//   a {
//     font-size: 15px;
//   }
// }


//reponsive para tablet
// @media (min-width: 768px) and (max-width: 1023px) {
//   header {
//     display: flex;
//     justify-content: space-around;
//   }
//   input {
//     width: 50%;
//   }
//   ul {
//     flex-wrap: wrap;
//     flex-direction: row;
//   }
//   h2 {
//     font-size: 25px;
//   }
//   h3 {
//     font-size: 20px;
//   }
//   .title {
//     font-size: 25px;
//   }
//   .align_block-search {
//     margin-right: 0;
//   }
//   .bg--black {
//     font-size: 25px;
//   }
//   .subtitle--line {
//     font-size: 20px;
//   }
//   .cont--img {
//     width: 50%;
//   }
//   img {
//     width: 100%;
//   }
//   .subtitle--cont {
//     font-size: 18px;
//   }
//   .text--price {
//     font-size: 16px;
//   }
//   .list--features {
//     font-size: 14px;
//   }
//   .subtitle {
//     font-size: 14px;
//   }
//   .subtitle--desc {
//     font-size: 20px;
//   }
//   .text--desc {
//     font-size: 16px;
//   }
//   .subtitle--center {
//     font-size: 20px;
//   }
//   footer {
//     flex-direction: row;
//   }
//   img {
//     width: 40px;
//   }
//   a {
//     font-size: 16px;
//   }
// }


//reponsive para desktop
// @media (min-width: 1024px) {
//   header {
//     display: flex;
//     justify-content: space-around;
//   }
//   input {
//     width: 40%;
//   }
//   ul {
//     flex-wrap: wrap;
//     flex-direction: row;
//   }
//   h2 {
//     font-size: 30px;
//   }
//   h3 {
//     font-size: 24px;
//   }
//   .title {
//     font-size: 30px;
//   }
//   .align_block-search {
//     margin-right: 30px;
//   }
//   .bg--black {
//     font-size: 30px;
//   }
//   .subtitle--line {
//     font-size: 24px;
//   }
//   .cont--img {
//     width: 40%;
//   }
//   img {
//     width: 100%;
//   }
//   .subtitle--cont {
//     font-size: 22px;
//   }
//   .text--price {
//     font-size: 18px;
//   }
//   .list--features {
//     font-size: 16px;
//   }
//   .subtitle {
//     font-size: 16px;
//   }
//   .subtitle--desc {
//     font-size: 24px;
//   }
//   .text--desc {
//     font-size: 18px;
//   }
//   .subtitle--center {
//     font-size: 24px;
//   }
//   footer {
//     flex-direction: row;
//   }
//   img {
//     width: 50px;
//   }
//   a {
//     font-size: 18px;
//   }
// }