.bg--black{
  text-align: center;
  background-color:$black;
  width: 101%;
  height: 196px;
  margin-left: -8px;
  font-weight: 600;
  font-size: 36px;
  line-height: 169px;
  color: $gray;
}
.subtitle--line{
  text-align: center;
  border-bottom: 1px solid $black;
}
.cont--img{
  margin-left: 33px;
  margin-bottom: 0px;
}
.cont--flex{
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  margin-top: -48%;
  margin-left: 68%;
}
.subtitle--center{
  text-align: center;
}
.subtitle--cont{
font-size: 48px;
text-align: center;
}
.container-desc{
  margin:0 auto;
}