.footer--bg {
  align-items: center;
  background-color: $black;
  display: flex;
  gap: 385px;
  justify-content: center;
  padding: 43px 130px;
}

.footer__link--white {
  color: #fff;
}

.social-media {
  display: flex;
  gap: 23px;
}

.support__ancord {
  display: flex;
  gap: 25px;
}
