@import "utils/variables";

@import "breakpoints/computers-rwd";
@import "breakpoints/product-rwd";

@import "base/global";
@import "base/typography";
@import "base/design";

@import "pages/computers";
@import "pages/create";
@import "pages/log";
@import "pages/product";
@import "pages/store-interface";

@import "layout/footer";
@import "layout/header";

@import "components/box-accesories";
@import "components/description";
@import "components/subtitle-line";
@import "components/bg-black-title";
@import "components/internal-menu";
@import "components/card-for-product";
@import "components/big-banner";
@import "components/suscription-form";
