.banner-major {
    display: flex;
    align-items: center;
    margin-top: 8.25rem;
    align-items: initial;
}

.banner-major img {
    width: 40.8125rem;
    height: 50rem;
}

.banner-major--text {
    display: flex;
    flex-direction: column;
    font-size: 2.25rem;
    font-weight: bold;
    width: 34.9375rem;
    height: 22.25rem;
}

.banner-major--text h1 {
    font-size: 3rem;
    font-weight: bold;
    width: 15.6875rem;
    height: 9.125rem;
}

.banner-major--buttons {
    display: flex;
    align-items: center;
    width: 29.875rem;
    gap: 3.125rem;
}

.buttons__see-more {
    font-size: 2.25rem;
    font-weight: bold;
}