.store-card img {
    width: 232px;
    height: 232px;
}

.store-card span {
    font-weight: bold;
}

.type-product {
    margin-bottom: 11px;
}

.type-product--version {
    margin-top: 0;
    margin-bottom: 17px;
}

.store-card {
    list-style: none;
    width: 232px;
    height: 362px;
    margin: 0 auto;
    text-align: center;
}