.store-card img {
    width: 14.5rem;
    height: 14.5rem;
}

.store-card span {
    font-weight: bold;
}

.type-product {
    margin-bottom: .6875rem;
}

.type-product--version {
    margin-top: 0;
    margin-bottom: 1.0625rem;
}

.store-card {
    list-style: none;
    width: 14.5rem;
    height: 22.625rem;
    margin: 0 auto;
    text-align: center;
}