.internal-menu {
    text-align: center;
}

.internal-menu ul {
    padding: 0;
}

.internal-menu li {
    list-style: none;

    margin-bottom: 16px;

    font-weight: bold;
}

.internal-menu h3 {

    margin-bottom: 47px;
}

.internal-menu--items h4 {
    margin-bottom: 80px;
    font-size: 24px;
}

.internal-menu--items {
    width: 216px;
    height: 421px;

}
