.accessories-menu {
  align-items: center;
}

.menu--categories {
  text-align: center;
  width: 13.4375rem;
  border: solid .0625rem black;
}

.menu--categories li {
  list-style: none;
  margin-bottom: .75rem;
}

.menu--categories ul {
  padding: 0;
  margin-bottom: 3.9375rem;
}

.menu--categories h3 {
  margin-top: 1.375rem;
  margin-bottom: 5.125rem;
}