.img__computer{
  margin: 0% 2%;
  width: 802px;
  height: 608.67px;
}

.subtitle__center{
  margin-top: 52px;
  margin-bottom: 53px;
  text-align: center;
  font-size: 48px;
}

.subtitle--cont {
  font-size: 46px;
  text-align: center;
}

.price__computer{
  margin-bottom: 21%;
  margin-top: 22%;
  font-weight: 700;
  font-size: 48px;
  line-height: 7px;
  text-align: center;
}

.subtitle__secondary--width{
  width: 423px;
}