main {
    min-width: 64rem;
}

.store-menu {
    display: flex;
    align-items: center;
    gap: 2.4375rem;
    width: 75rem;
    margin: 0 auto;
}

.store-menu ul {
    padding: 0;
}

.store-products--lineal {
    display: flex;
    gap: 3.6875rem;
}